<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ветклиника "Верный друг"</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать в ветклинику "Верный друг"!</h1>
        <p>Мы заботимся о ваших питомцах 24 часа в сутки, 7 дней в неделю.</p>
    </header>

    <hr> <main>
        <h2>Наши основные услуги:</h2>
        <ul>
            <li>Первичный осмотр и терапия</li>
            <li>Вакцинация и чипирование</li>
            <li>Хирургия и травматология</li>
            <li>Собственная лаборатория (анализы за 15 минут)</li>
        </ul>
    </main>

    <footer>
        <p>© 2026 Ветклиника "Верный друг". Улица Котиков, дом 10.</p>
    </footer>
</body>
</html>