
# Виртуальное окружение
venv/
.venv/
env/

# Локальная база данных (пока она нам не нужна в Git)
*.sqlite3

# Кэш Python
__pycache__/
*.pyc

# Настройки твоего редактора кода (например, VS Code)
.vscode/
.idea/